*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f2f2f2;
}

body[data-theme='light'] {
  --colors-linear: linear-gradient(47.03deg, #76e7e7 -3.73%, #6b16db 93.84%);
  --border: 1px solid #f1f1f150;
}
body[data-theme='dark'] {
  --colors-linear: linear-gradient(47.03deg, #24264f -3.73%, #0e3c94 93.84%);
  --border: 1px solid #aeb3d7;
}

::placeholder {
  color: rgba(255, 255, 255, 0.363);
}

// styles to overide the default text color for the react-sweet-progressbar
.react-sweet-progress-symbol {
  color: white !important;
}
