*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px osv...
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #1d2132;
  transition: background 0.4s ease;
  color: #f2f2f2;
}

::placeholder {
  color: rgba(255, 255, 255, 0.363);
}

// styles to overide the default text color for the react-sweet-progressbar
.react-sweet-progress-symbol {
  color: white !important;
}
